<ul class="sidebar-nav">
    <li ui-sref-active="active" ng-class="{active: $state.includes('admin')}">
        <a ui-sref="admin">Dashboard</a>
    </li>
    <li ui-sref-active="active" ng-class="{active: $state.includes('admin.users')}">
        <a ui-sref="admin.users">User Management</a>
    </li>
    <li ui-sref-active="active" ng-class="{active: $state.includes('admin.books')}">
        <a ui-sref="admin.books">Book Management</a>
    </li>
    <li ui-sref-active="active" ng-class="{active: $state.is('admin.bills.*')}">
        <a ui-sref="admin.bills">Bill Management</a>
    </li>
</ul>
