<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            Start Bootstrap
        </a>
    </li>
    <li>
        <a ui-sref="home">Dashboard</a>
    </li>
    <li>
        <a ui-sref="admin.users">User Management</a>
    </li>
    <li>
        <a href="#">Book Management</a>
    </li>
    <li>
        <a href="#">Events</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Services</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
</ul>
