<div ui-view="header" class="navbar navbar-default" id="wr-header"></div>

<div class="wrapper">

    <div id="sidebar-wrapper" ui-view="sidebar">

    </div> <!-- #sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12" ui-view="content"></div>
          </div>
        </div> <!-- .container-fluid -->
    </div>
    <!-- /#page-content-wrapper -->
</div> <!-- .wrapper -->


<!-- /#wrapper -->
<div ui-view="footer"></div>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
