<div id="book-detail">
  <h4><i class="fa fa-book" aria-hidden="true"></i>Book detail</h4>
  <div class="content">
    <md-card>
      <md-card-content>
        <form name="bundleForm" role="form" class="col s12" ng-submit="updateBook()">
          <div class="row">
            <md-input-container class="md-block" md-no-float>
              <label>Title</label>
              <input type="text" name="title" ng-model="book.title" required ng-minlength="6" />
              <div ng-messages="bundleForm.title.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 6 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container>
              <label>Subtitle</label>
              <input type="text" name="subtitle" ng-model="book.subtitle" required ng-minlength="5"/>
              <div ng-messages="book.subtitle.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 5 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container class="md-block">
              <label>Teaser</label>
              <textarea name="teaser" ng-model="book.teaser" required></textarea>
              <div ng-messages="book.teaser.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 5 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container class="md-block">
              <label>Description</label>
              <textarea name="description" ng-model="book.description" required></textarea>
              <div ng-messages="book.description.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 5 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container class="md-block">
              <label>Thank you message</label>
              <textarea name="thankyoumessage" ng-model="book.thankyoumessage" required></textarea>
              <div ng-messages="book.thankyoumessage.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 5 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container>
              <label>Url</label>
              <input type="text" name="bookurl" ng-model="book.bookurl" required ng-minlength="5"/>
              <div ng-messages="book.bookurl.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 5 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container>
              <label>Language</label>
              <md-select ng-model="book.language_id">
                <md-option ng-repeat="language in languages" ng-value="language.id" ng-select="language.id == book.language_id">
                  {{language.language_name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <div class="row">
            <md-input-container>
              <label>Google Analytic</label>
              <input type="text" name="google_analytic" ng-model="book.google_analytic" required ng-minlength="5"/>
              <div ng-messages="book.google_analytic.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="minlength">This field can be at least 5 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <!-- <div class="row">
            <md-input-container>
              <label>Number page</label>
              <input type="number" name="page" ng-model="book.page" required ng-minlength="5"/>
              <div ng-messages="book.page.$error" role="alert">
               <div ng-message="required">Please enter a value for this field.</div>
               <div ng-message="numeric">This field must be numeric.</div>
              </div>
            </md-input-container>
          </div> -->

          <div class="row">
            <md-input-container>
              <md-checkbox ng-model="book.is_published" aria-label="Is author published" checkbox-m>
                Is author published
              </md-checkbox>
            </md-input-container>
            <md-input-container>
              <md-checkbox ng-model="book.is_publish_sample" aria-label="Is author published sample" checkbox-m>
                Is author published sample
              </md-checkbox>
            </md-input-container>
            <md-input-container>
              <md-checkbox ng-model="book.allow_published" aria-label="Allow publish" checkbox-m>
                Allow publish
              </md-checkbox>
            </md-input-container>
          </div>

          <md-button type="submit" class="md-raised md-cornered md-accent">Save</md-button>

        </form>
      </md-card-content>
    </md-card>

  </div> <!-- .content -->
</div>
