<div id="bundle-belong-book">
  <h4><i class="fa fa-book" aria-hidden="true"></i>Bundle of <b>{{book.title}}</b> book</h4>
  <div class="content">
    <md-card>
      <md-card-content>
        <div class="bundles-in-book">
          <h4>Bundles of books</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Minimum</th>
                <th>
                  Is published
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, bundle) in book.bundles" ng-click="pageToBundle(bundle.id)">
                <td>{{bundle.title}}</td>
                <td>{{bundle.description}}</td>
                <td>{{bundle.minimum}}</td>
                <td ng-bind-html="bundle.is_published | labelYesNo"></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- .books-in-bundle -->
      </md-card-content>
    </md-card>
  </div> <!-- .content -->
</div>
