<div id="list-book">
  <h4><i class="fa fa-book" aria-hidden="true"></i>List books.</h4>
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th data-field="title">Title</th>
          <th data-field="avatar">Avatar book</th>
          <th data-field="avatar-user">Avatar user</th>
          <th data-field="author-name">Author name</th>
          <th data-field="bundles">Bundles</th>
          <th data-field="package">Packages</th>
          <th data-field="allow_published">Allow published</th>
          <th data-field="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, book) in books">
          <td class="title" style="max-width:305px;word-wrap: break-word;">{{book.title}}</td>
          <td><img src="{{book.avatar | avatarImage}}" alt="" class="avatar" width="50" height="50"/></td>
          <td><img src="{{book.authors[0].avatar | avatarImage}}" alt="" class="avatar" width="50" height="50"/></td>
          <td>
            <b><a ui-sref="admin.users.update({id : book.authors[0].id})">{{book.authors[0].lastname + " " + book.authors[0].firstname}}</a></b>
          </td>
          <td>
            <a href="javascript:" class="btn btn-primary" ui-sref="admin.books.bundle({id: book.id, book: book})">Bundles</a>
          </td>
          <td>
            <a href="javascript:" class="btn btn-primary" ui-sref="admin.books.package({id: book.id, book: book})">Packages</a>
          </td>
          <td>
            <md-checkbox ng-model="book.allow_published" aria-label="Is locked?" ng-change="allowPublishBook(book.id, book.allow_published)">
            </md-checkbox>
          </td>
          <td>
            <a class="btn-floating btn-medium blue" ng-click="editUser(user.id)">
              <i class="large material-icons">mode_edit</i>
            </a>
            <a class="btn-floating btn-medium red-text" ng-click="deleteUser(user.id)">
              <i class="large material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="3"></ul>
  </div> <!-- .content -->
</div>
