.content-wrapper .large-container .inner-col-left .wrap-avatar {
  display: block;
  margin: 0px auto;
  width: 50%;
}
.content-wrapper .large-container .inner-col-left .wrap-avatar img {
  width: 248px;
  height: 332px;
  display: block;
  text-align: center;
}
.content-wrapper .large-container .inner-col-right .group-header h4 {
  font-family: larkeregular, sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.content-wrapper .large-container .inner-col-right .group-header p.subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
}
.content-wrapper .large-container .inner-col-right .group-header .line-author {
  display: block;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 60px;
}
.content-wrapper .large-container .inner-col-right .group-header .line-author .avatar {
  display: block;
  float: left;
}
.content-wrapper .large-container .inner-col-right .group-header .line-author .avatar img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.content-wrapper .large-container .inner-col-right .group-header .line-author .author {
  display: block;
  float: left;
  margin-left: 25px;
  margin-top: 10px;
}
.content-wrapper .large-container .inner-col-right .group-header .line-author .author p {
  font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-wrapper .large-container .inner-col-right .group-header .blurb {
  display: block;
  border-top: 1px solid #D4D4D4;
  padding: 8px;
  padding-right: 22px;
  margin-bottom: 20px;
  font-family: larkeregular, sans-serif;
}
.content-wrapper .large-container .inner-col-right .group-header .group-sample p {
  margin-bottom: 13px;
}
.content-wrapper .large-container .inner-col-right .group-header .group-sample .downloadsample a {
  border-radius: 10px;
  padding: 5px;
  background-color: #ABC2C4;
  color: #F7F7F7;
}
.content-wrapper .large-container .inner-col-right .group-header .group-sample .wishlist {
  margin-top: 20px;
}
.content-wrapper .large-container .inner-col-right .group-header .group-sample .wishlist a {
  border-radius: 10px;
  padding: 5px;
  background-color: #3694F7;
  color: white;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header {
  display: block;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header .minimum {
  display: block;
  float: right;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header .minimum .number {
  display: block;
  line-height: 1.125;
  font-size: 1.75em;
  color: #323232;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header .minimum .suffix {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header .maximum {
  display: block;
  float: right;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header .maximum .number {
  display: block;
  line-height: 1.125;
  font-size: 1.75em;
  color: #323232;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price header .maximum .suffix {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .content-slider-price .label-message {
  font-size: 21px!important;
  line-height: 1.3!important;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .content-slider-price .slider-range-you-pay {
  height: 25px;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .content-slider-price .slider-range-you-pay .ui-slider-handle {
  height: 34px;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .content-slider-price .slider-range-author-earn {
  height: 25px;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .content-slider-price .slider-range-author-earn .ui-slider-handle {
  height: 34px;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .add-ebook-to-cart {
  margin-top: 26px;
  background-color: #727272;
  display: block;
  padding: 5px;
  height: 40px;
  width: 200px;
  border-radius: 12px;
}
.content-wrapper .large-container .inner-col-right .group-price .inner-group-price .add-ebook-to-cart a {
  color: white;
  display: block;
  margin-top: 3px;
  margin-left: 16px;
  font-size: 20px;
}
.aboutbook .inner-about-book header h3 {
  font-family: 'Univers_LT_57_Condensed', Georgia, serif;
}
.aboutbook .inner-about-book .content .wrap-content .text-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
