@import url(https://fonts.googleapis.com/css?family=Oswald);
.haft-width {
  display: block;
  width: 50% !important;
}
.width-270px {
  display: block;
  width: 270px;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}
.large-container {
  padding-top: 20px;
}
#footer:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}
html,
body {
  height: 100%;
}
div.wrapper {
  height: 100%;
}
section.view {
  display: block;
  min-height: 90%;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-sidebar h3 {
  text-align: center;
  font-family: "Varela Round";
  font-size: 27px;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-sidebar ul li {
  list-style: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #626262;
  text-align: center;
  box-shadow: 0px -2px 10px #C2C2C2 inset;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-sidebar ul li a {
  text-decoration: none;
  color: black;
  font-family: "Varela Round";
  font-size: 17px;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-content .area-form form > img {
  width: 200px;
  height: 200px;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-content .info-publish:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-content .info-publish .list-book {
  margin-bottom: 45px;
  margin-top: 38px;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-content .info-publish .list-book:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-content .info-publish .list-book ul li {
  list-style: none;
  display: block;
  float: left;
  width: 140px;
  height: 186px;
  margin-right: 10px;
}
.content-wrapper .large-container #inner-wrapper-listbook .inner-content .info-publish .list-book ul li .wrapper-avatar img {
  display: block;
  width: 140px;
  height: 150px;
}
