.content-wrapper .large-container .book-list-wrapper {
  width: 100%;
  border-top: 1px solid #b7b7b7;
  box-shadow: -2px -5px 57px #c3bfbf;
  height: 485px;
}
.content-wrapper .large-container .book-list-wrapper .list-header {
  height: 76px;
  display: block;
  margin: 0px auto;
  width: 90%;
  padding: 0px;
  clear: both;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 23px;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-title {
  display: block;
  /* width: 65%; */
  float: left;
  /* margin-top: -30px; */
  height: 76px;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-title h3 a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls {
  display: block;
  float: right;
  width: 35%;
  text-align: right;
  height: 76px;
  position: relative;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls a {
  font-size: 18px;
  color: black;
  display: block;
  position: absolute;
  right: 10px;
  top: 28px;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls .icon-control {
  display: inline-block;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls .icon-control .icon-button .icon-prev {
  display: inline-block;
  vertical-align: sub;
  color: #666;
  padding: 0 4px;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls .icon-control .icon-button .icon-next {
  display: inline-block;
  vertical-align: sub;
  color: #666;
  padding: 0 4px;
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls .icon-control .icon-button .icon-prev:before {
  font-family: FontAwesome;
  font-size: 1.25em;
  content: "\f053";
}
.content-wrapper .large-container .book-list-wrapper .list-header .list-controls .icon-control .icon-button .icon-next:before {
  font-family: FontAwesome;
  font-size: 1.25em;
  content: "\f054";
}
.content-wrapper .large-container .book-list-wrapper .list-content {
  display: block;
}
.content-wrapper .large-container .book-list-wrapper .list-content .list-content-wrapper .owl-carousel {
  width: 90%;
  margin: 0px auto;
}
.content-wrapper .large-container .book-list-wrapper .list-content .list-content-wrapper .owl-carousel .item-book .avatar-wrapper {
  display: block;
  text-align: center;
}
.content-wrapper .large-container .book-list-wrapper .list-content .list-content-wrapper .owl-carousel .item-book .avatar-wrapper a img {
  display: block;
  width: 90%;
  height: 260px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.33);
}
.content-wrapper .large-container .book-list-wrapper .list-content .list-content-wrapper .owl-carousel .item-book .info-name {
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-wrapper .large-container .book-list-wrapper .list-content .list-content-wrapper .owl-carousel .item-book .info-name span {
  display: block;
  text-align: center;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 600;
  word-wrap: break-word;
  font-size: 17px;
}
.content-wrapper .large-container .book-list-wrapper .list-content .list-content-wrapper .owl-carousel .item-book .info-author span {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
