.content-wrapper .large-container #inner-wrapper-readbook header {
  display: block;
  margin: 16px auto;
  width: 90%;
}
.content-wrapper .large-container #inner-wrapper-readbook header div.wrap-avatar {
  display: block;
  float: left;
}
.content-wrapper .large-container #inner-wrapper-readbook header div.wrap-avatar img {
  width: 147px;
  height: 179px;
  border: 1px solid #E0E0E0;
}
.content-wrapper .large-container #inner-wrapper-readbook header div.wrap-title {
  display: block;
  float: left;
  margin-left: 63px;
}
.content-wrapper .large-container #inner-wrapper-readbook header div.wrap-title h3 {
  font-weight: bold;
}
