.content-wrapper{
	
	.large-container{
		
		.book-list-wrapper{
			width : 100%;
			border-top : 1px solid #b7b7b7;
			padding-top : 35px;
			box-shadow: -2px -5px 5px #aaaaaa;
			height: 425px;

			.list-header{
				height: 40px;
				display: block;
				margin: 0px auto;
  				width: 90%;
				.list-title{
					display: block;
					width: 65%;
					float: left;
					h3{
						a{
							text-decoration: none;
							font-size: 30px;
						}
					}
				}
				.list-controls{
					display : block;
					float : left;
					width: 35%;
					text-align: right;
					a{
						display: inline-block;
					}
					.icon-control{
						display: inline-block;
						.icon-button{
							.icon-prev{
								  display: inline-block;
								  vertical-align: sub;
								  color: #666;
								  padding: 0 4px;
							}
							.icon-next{
								  display: inline-block;
								  vertical-align: sub;
								  color: #666;
								  padding: 0 4px;
							}
							.icon-prev:before{
								  font-family: FontAwesome;
								  font-size: 1.25em;
								  content: "\f053";
							}
							.icon-next:before{
								  font-family: FontAwesome;
								  font-size: 1.25em;
								  content: "\f054";
							}
						}
					}
				}
			}
			.list-content{
				display: block;
				
				.list-content-wrapper{
					ul.list-detail{
						display: block;
						margin : 0px auto;
						width: 90%;
						height: 380px;
						li{
							display: block;
							float : left;
							width: 220px;
							.avatar-wrapper{
								display: block;
  								text-align: center;
								img{
									width : 175px;
									height : 225px;
									box-shadow: 0 2px 3px rgba(0,0,0,0.33);
								}
							}
							.info-name{
								padding-top : 10px;
								padding-bottom : 10px;

								span{
								  display: block;
								  text-align: center;
								  font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
								  font-style: normal;
								  font-weight: 500;
								  word-wrap: break-word;
								}
							}
							.info-author{
								span{
								  display: block;
								  text-align: center;
								  word-wrap: break-word;
								}
							}
						}
					}
					.owl-carousel{
						width: 90%;
  						margin: 0px auto;	
						.item-book{
							.avatar-wrapper{
								display: block;
  								text-align: center;
								a{
									img{
										display: block;
										width: 90%;
										height : 260px;
										box-shadow: 0 2px 3px rgba(0,0,0,0.33);
									}
								}
							}
							
							.info-name{
								padding-top : 10px;
								padding-bottom : 10px;

								span{
								  display: block;
								  text-align: center;
								  font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
								  font-style: normal;
								  font-weight: 500;
								  word-wrap: break-word;
								}
							}
							.info-author{
								span{
								  display: block;
								  text-align: center;
								  word-wrap: break-word;
								}
							}
						}
					}
				}
			}
		}
	}
}
