.content-wrapper{
	.large-container{
		>h3{
			margin-left: 115px;
		}
		.inner-content{
			display: block;
			margin : 20px auto;
			border : 2px solid #b5b5b5;
			border-radius: 8px;
			padding: 20px;
			width: 90%;
			form{
				.inner-left{
					margin: 0px auto;
					width: 80%;
				}
				.inner-right{
					margin: 0px auto;
					width: 80%;
					.submit{
						margin-top : 20px;
					}
				}
			}
		}
	}
}