// out: ../css/writebook.css, sourcemap: true, compress: true
.content-wrapper{
	.content-inner{
		.control{
			padding : 0px 12px;
		}

		textarea{
			width: 100%;
		}

		.inner-content-write{
			margin: 0px auto;
			width: 94%;
			.col-md-8{
				padding-left: 0px;
				padding-right: 0px;
			}
			.area-file{
				table {

				}
			}
		}

		.inner-control-top{
			margin: 18px auto;
			width: 90%;
		}
	}
}

#modalPreview{
	.modal-dialog{
		width: 90%;
		.content-preview{
			overflow: hidden;
		}
	}
}
